<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Create Integrated Address</p>
        </header>
        <form #intlabelfrom="ngForm">
            <section class="modal-card-body">
                <div class="field">
                    <label for="name">Label:</label>
                    <div>
                        <div class="control has-icons-right">
                            <input type="text" name="intlabel" class="input is-hovered" [(ngModel)]="intlabel"
                                #intlabelinput="ngModel" [pattern]="nameCk"
                                placeholder="Enter the label for the integrated address" required>
                            <span class="icon is-small is-right is-clickable" (click)="onPaste($event, 'label')">
                                <fa-icon [icon]="faPaste"></fa-icon>
                            </span>
                            <div class="help"
                                *ngIf="intlabelinput.invalid && intlabel !== ''">
                                Label must be between {{ minlen }} and {{ maxlen }} characters and only contain
                                numbers and letters.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label for="name">Payment Id:</label>
                    <div>
                        <div class="control has-icons-right">
                            <input type="text" name="intpaymentId" class="input is-hovered" [(ngModel)]="intpaymentId"
                                #intpaymentinput="ngModel" [pattern]="idCk"
                                placeholder="Enter optional encrypted payment id">
                            <span class="icon is-small is-right is-clickable" (click)="onPaste($event, 'paymt')">
                                <fa-icon [icon]="faPaste"></fa-icon>
                            </span>
                            <div class="help"
                                *ngIf="intpaymentinput.invalid && intpaymentId !== ''">
                                Encrypted payment id must be {{ lenEncry }} characters long and only contain
                                numbers and letters.
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button id="addbutton" type="submit" class="button is-primary" [disabled]="intlabelfrom.invalid"
                    (click)="selectAdd($event)">Add</button>
                <button type="button" class="button is-hovered" (click)="cancelAdd()">Cancel</button>
            </footer>
        </form>
    </div>
</div>