<div class="modal is-active custom-modal-width">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Create New Wallet {{ walletname }}</p>
    </header>
    <form #walletcreateForm="ngForm">
      <section class="modal-card-body">
        <div *ngIf="showMain">
          <div class="field mt-4">
            <label class="label">Wallet Name:</label>
            <p class="control has-icons-left has-icons-right">
              <input id="password" type="text" name="walletname" class="input is-hovered" [(ngModel)]="walletname"
                #walletnameinput="ngModel" placeholder="Enter wallet name" autofocus [disabled]="fielddisabled" required
                [pattern]="textSettings">
              <span class="icon is-small is-left">
                <fa-icon [icon]="faWallet"></fa-icon>
              </span>
            <div *ngIf="walletnameinput.invalid && walletnameinput.touched">
              <div *ngIf="walletnameinput.errors?.required">Password is required.</div>
              <div *ngIf="walletnameinput.errors?.pattern">Wallet name must be between {{ textSettingsMin }} an {{
                textSettingsMax }} characters or numbers.</div>
            </div>
          </div>
          <div class="field mt-4">
            <label class="label">Password:</label>
            <p class="control has-icons-left has-icons-right">
              <input id="password" [type]="showpassword ? 'text' : 'password'" name="walletpass"
                class="input is-hovered" [(ngModel)]="walletpassword" #passwordinput="ngModel"
                placeholder="Enter password" [minlength]="passwordLength" [disabled]="fielddisabled" required
                [pattern]="passwordFormat">
              <span class="icon is-small is-left">
                <fa-icon [icon]="faKey"></fa-icon>
              </span>
              <span class="icon is-small is-right is-clickable" (click)="togglePasswordVis()">
                <fa-icon [icon]="faEye"></fa-icon>
              </span>
            <div *ngIf="passwordinput.invalid && passwordinput.touched">
              <div *ngIf="passwordinput.errors?.required">Password is required.</div>
              <div *ngIf="passwordinput.errors?.minlength">Password should be at least {{ passwordLength }} characters
                long.</div>
              <div *ngIf="passwordinput.errors?.pattern">Password must contain only characters, numbers, and special
                characters: ~!&#64;#$%^&*_+=?</div>
            </div>
          </div>
          <div class="field mt-4">
            <label class="label">Confirm Password:</label>
            <p class="control has-icons-left has-icons-right">
              <input id="password" [type]="showconfirmpassword ? 'text' : 'password'" name="confirmpassword"
                class="input is-hovered" [(ngModel)]="confirmpassword" #confirmpasswordinput="ngModel"
                placeholder="Please confirm the password above" [disabled]="fielddisabled" required>
              <span class="icon is-small is-left">
                <fa-icon [icon]="faKey"></fa-icon>
              </span>
              <span class="icon is-small is-right is-clickable" (click)="toggleconfirmPasswordVis()">
                <fa-icon [icon]="faEye"></fa-icon>
              </span>
            <div *ngIf="confirmpasswordinput.invalid && confirmpasswordinput.touched">
              <div *ngIf="confirmpasswordinput.errors?.required">Confirm Password is required.</div>
            </div>
            <div *ngIf="confirmpasswordinput.value !== passwordinput.value && confirmpasswordinput.touched">
              Passwords do not match.
            </div>
          </div>
          <div class="notification is-warning" *ngIf="message">
            <button class="delete" (click)="showMessage('')"></button>
            <p class="is-centered">{{ message }}</p>
          </div>
        </div>
        <div *ngIf="showCreate || showExit">
          <p class="has-text-weight-semibold">Current Block Height:&nbsp; {{currentBK}} </p>          
          <div class="notification {{ messageType }} mt-4">
            {{ textMessage }}</div><br><br><br><br><br><br><br><br>
        </div>
        <div *ngIf="showKeys">
          <div class="columns mt-0 pt-0 mb-0 pb-0">
            <div class="column has-text-weight-bold is-three-fifths mt-0 pt-0">
              Store your Private Keys in a safe place.
            </div>
            <div class="column is-flex justify-flex-end pt-0 mb-0 pb-0">
              <div *ngIf="blockheight !== 0">
                <div class="field-body mt-0 pt-0">
                  <div class="field is-horizontal">
                    <label class="label is-flex is-align-items-center mr-2 nowrap">Block Height:</label>
                    <div class="control has-icons-right">
                      <input class="input is-hovered has-text-weight-semibold" type="text" name="blockheight"
                        [(ngModel)]="blockheight" readonly #walletblockheight>
                      <span class="icon is-small is-right is-clickable"
                        (click)="copyToClipboard(walletblockheight.value)" [ngxTippy]="'Text Coppied'"
                        [tippyProps]="tippyOptions">
                        <fa-icon [icon]="faCopy"></fa-icon>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="field mt-0 pt-0">
            <label class="label is-flex is-align-items-center mt-0 pt-0">Private View Key:</label>
            <div class="field-body">
              <div class="field">
                <div class="control has-icons-right">
                  <input class="input is-hovered has-text-weight-semibold" type="text" name="walletviewkey"
                    [(ngModel)]="walletViewkey" readonly #walletviewkeyInput>
                  <span class="icon is-small is-right is-clickable" (click)="copyToClipboard(walletviewkeyInput.value)"
                    [ngxTippy]="'Text Coppied'" [tippyProps]="tippyOptions">
                    <fa-icon [icon]="faCopy"></fa-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="field  mt-0 pt-0">
            <label class="label is-flex is-align-items-center">Private Spend Key:</label>
            <div class="field-body">
              <div class="field">
                <div class="control has-icons-right">
                  <input class="input is-hovered has-text-weight-semibold" type="text" name="walletspendkey"
                    [(ngModel)]="walletSpendkey" readonly #walletspendkeyInput>
                  <span class="icon is-small is-right is-clickable" (click)="copyToClipboard(walletspendkeyInput.value)"
                    [ngxTippy]="'Text Coppied'" [tippyProps]="tippyOptions">
                    <fa-icon [icon]="faCopy"></fa-icon>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="field  mt-0 pt-0">
            <label class="label is-flex is-align-items-center">Public Address:&nbsp;
              <span id="button" class="icon is-small is-right is-clickable"
                (click)="copyToClipboard(publicaddressInput.value)" [ngxTippy]="'Text Coppied'"
                [tippyProps]="tippyOptions">
                <fa-icon [icon]="faCopy"></fa-icon>
              </span>
            </label>
            <div class="field-body">
              <div class="field">
                <textarea class="textarea is-hovered has-text-weight-semibold" type="text" name="publicAddress"
                  [(ngModel)]="publicAddress" readonly #publicaddressInput rows="2">
                  </textarea>
              </div>
            </div>
          </div>
          <div class="field mt-0 pt-0">
            <label class="label is-flex is-align-items-center">Mnemonic Seed:&nbsp;
              <span id="button" class="icon is-small is-right is-clickable"
                (click)="copyToClipboard(mnemonicInput.value)" [ngxTippy]="'Text Coppied'" [tippyProps]="tippyOptions">
                <fa-icon [icon]="faCopy"></fa-icon>
              </span>
            </label>
            <div class="field-body">
              <div class="field">
                <textarea class="textarea is-hovered has-text-weight-semibold" name="mnemonic"
                  [(ngModel)]="walletMnemonicseed" readonly #mnemonicInput rows="3">
                  </textarea>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div *ngIf="showMain">
          <button id="createbutton" type="submit" class="button is-primary"
            (click)="confirmCreate(walletcreateForm.invalid, walletpassword, confirmpassword)"
            [disabled]="buttonDisabled">Confirm</button>
          <button type="button" class="button  is-hovered" (click)="cancelCreate()"
            [disabled]="buttonDisabled">Cancel</button>
        </div>
        <div *ngIf="showKeys">
          <button type="button" class="button is-primary" (click)="printCreate()">Print</button>
          <button type="button" class="button  is-hovered" (click)="continueCreate()">Continue</button>
        </div>
        <div *ngIf="showExit">
          <button type="button" class="button is-hovered mt-0 pt-0" [disabled]="buttonDisabled"
            (click)="cancelCreate()">Exit</button>
        </div>
      </footer>
    </form>
    <div class="spinner-container" *ngIf="showspinner">
      <div class="spinner"></div>
    </div>
  </div>