<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="assets/images/xcash_logo.png" width="113" height="28" title="X-Cash Wallet">
    </a>
    <a role="button" class="navbar-burger" [class.is-active]="isActive" (click)="toggleNavbar()" aria-label="menu"
    aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="xnavbar" class="navbar-menu"  [class.is-active]="isActive">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="" (click)="closeNavbar()">
        <span class="icon">
          <fa-icon [icon]="faWallet"></fa-icon>
        </span>
        &nbsp;Wallets
      </a>
      <div class="navbar-item has-dropdown is-hoverablenpm " (click)="closeNavbar()">
        <a title="About" class="navbar-link is-arrowless">
          About
        </a>
        <div class="navbar-dropdown" (click)="closeNavbar()">
          <a class="navbar-item">Version: {{versionInfo}}</a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <a title="Settings" class="navbar-item" routerLink="settings" (click)="closeNavbar()">
        <span class="icon">
          <fa-icon [icon]="faGear"></fa-icon>
        </span>
      </a>
      <div class="navbar-item has-dropdown is-hoverable" (click)="closeNavbar()">
        <a title="Currency" class="navbar-link is-arrowless">
          <span class="icon">
            <fa-icon [icon]="faDollar"></fa-icon>
          </span>&nbsp;{{curCurrency}}&nbsp;&nbsp;
        </a>
        <div class="navbar-dropdown">
          <div *ngFor="let currency of currencies">
            <a class="navbar-item" (click)="onCurrencyClick(currency);">{{ currency }}</a>
            <hr class="navbar-divider">
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>