<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Create Sub Address</p>
        </header>
        <form #sublabelfrom="ngForm">
            <section class="modal-card-body">
                <div class="field">
                    <label for="name">Enter a label for the sub address (optional):</label>
                    <div>
                        <input type="text" name="sublabel" class="input is-hovered" [(ngModel)]="sublabel"
                            #sublabelinput="ngModel" [pattern]="nameCk">
                        <div class="help"
                            *ngIf="sublabelinput.invalid && (sublabelinput.touched || sublabelinput.dirty)">
                            Label must be between {{ minlen }} and {{ maxlen }} characters and only contain
                            numbers and letters.
                        </div>
                    </div>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-primary" [disabled]="sublabelfrom.invalid"
                    (click)="selectAdd()">Add</button>
                <button type="button" class="button" (click)="cancelAdd()">Cancel</button>
            </footer>
        </form>
    </div>
</div>