<div class="container is-fluid">
    <form #changepwForm="ngForm">
        <div container>
            <div class="field">
                <label class="label is-flex is-align-items-center">Current Password:</label>
                <p class="control has-icons-left has-icons-right">
                    <input id="oldpassword" [type]="showpassword ? 'text' : 'password'" name="oldpassword"
                        class="input is-hovered" [(ngModel)]="oldpassword" #oldpasswordinput="ngModel" required
                        placeholder="Enter current password" autofocus [disabled]="fielddisabled">
                    <span class="icon is-small is-left">
                        <fa-icon [icon]="faKey"></fa-icon>
                    </span>
                    <span class="icon is-small is-right is-clickable" (click)="togglePasswordVis()">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </span>
                <div *ngIf="oldpasswordinput.invalid && oldpasswordinput.touched">
                    <div *ngIf="oldpasswordinput.errors?.required">Password is required.</div>
                </div>
            </div>
            <div class="field">
                <label class="label is-flex is-align-items-center">New Password:</label>
                <p class="control has-icons-left has-icons-right">
                    <input id="newpassword" [type]="newshowpassword ? 'text' : 'password'" name="newpassword"
                        class="input is-hovered" [(ngModel)]="newpassword" #newpasswordinput="ngModel" required
                        [pattern]="passwordCk" [minlength]="pwlengthCk" placeholder="Enter new password"
                        [disabled]="newfielddisabled">
                    <span class="icon is-small is-left">
                        <fa-icon [icon]="faKey"></fa-icon>
                    </span>
                    <span class="icon is-small is-right is-clickable" (click)="newtogglePasswordVis()">
                        <fa-icon [icon]="faEye"></fa-icon>
                    </span>
                <div *ngIf="newpasswordinput.invalid && newpasswordinput.touched">
                    <div *ngIf="newpasswordinput.errors?.required">New Password is required.</div>
                    <div *ngIf="newpasswordinput.errors?.minlength">New Password must be a minimum length of
                        {{pwlengthCk}} characters.</div>
                    <div *ngIf="newpasswordinput.errors?.pattern">New Password can only contain letters, numbers, and
                        the follow special characters: ~!&#64;#$%^&*_+=?</div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="button is-primary"
                    (click)="submitChange(changepwForm.invalid)">Submit</button>
            </div>
        </div>
    </form>
</div>
<div class="notification is-primary mt-1" *ngIf="infoMessage">
    <p class="has-text-centered">{{ infoMessage }}</p>
</div>
<div class="notification is-warning mt-1" *ngIf="message">
    <button class="delete" (click)="showMessage('');"></button>
    <p class="is-centered">{{ message }}</p>
</div>
<div class="spinner-container" *ngIf="showSpinner">
    <div class="spinner"></div>
</div>