<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Verify Reserve Proof</p>
        </header>
        <form #datafrom="ngForm">
            <section class="modal-card-body">
                <div class="field">
                    <label for="name">Reserve Proof Address:&nbsp;
                        <span class="icon is-small is-right is-clickable" (click)="onPaste($event, 'addr')">
                            <fa-icon [icon]="faPaste"></fa-icon>
                        </span>
                    </label>
                    <div>
                        <textarea type="text" name="signAddress" class="textarea input is-hovered"
                            [(ngModel)]="rpAddress" #signAddressinput="ngModel" [pattern]="addressCk" required
                            placeholder="Enter the adddress that was used to create the reserve proof"
                            rows="2"></textarea>
                        <div class="help"
                            *ngIf="signAddressinput.invalid && (signAddressinput.touched || signAddressinput.dirty)">
                            Invalid fomat, please enter a valid xCash address.
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label for="name">Reserve Proof Signature:&nbsp;
                        <span class="icon is-small is-right is-clickable is is-fullwidth"
                            (click)="onPaste($event, 'sign')">
                            <fa-icon [icon]="faPaste"></fa-icon>
                        </span>
                    </label>
                    <div>
                        <textarea type="text" name="signature" class="textarea input is-hovered"
                            [(ngModel)]="rpSignature" #signatueinput="ngModel" [pattern]="rpCk" required
                            placeholder="Enter the reserve proof signature to verify" rows="5"></textarea>
                        <div class="help"
                            *ngIf="signatueinput.invalid && (signatueinput.touched || signatueinput.dirty)">
                            Invalid format, please enter a valid signature address.
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label for="name">Reserve Proof Data String:&nbsp;
                        <span class="icon is-small is-right is-clickable" (click)="onPaste($event, 'data')">
                            <fa-icon [icon]="faPaste"></fa-icon>
                        </span>
                    </label>
                    <div>
                        <textarea type="text" class="textarea input is-hovered" name="data" [(ngModel)]="rpMessage"
                            #mnemonicInput #datainput="ngModel" [pattern]="dataCk" required rows="2"
                            placeholder="Enter the optional reserve proof message"></textarea>
                        <div class="help" *ngIf="datainput.invalid && (datainput.touched || datainput.dirty)">
                            Data string can contan letters and numbers with a max length of {{ messageLength }}.
                        </div>
                    </div>
                </div>
                <div class="notification {{ messageType }} mt-1" *ngIf="message">
                    <button class="delete" (click)="showMessage('');"></button>
                    <p class="is-centered">{{ message }}</p>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-primary" [disabled]="datafrom.invalid"
                    (click)="selectVerify()">Verify</button>
                <button type="button" class="button is-hovered" (click)="cancelVerify
                ()">Cancel</button>
            </footer>
        </form>
    </div>
    <div class="spinner-container" *ngIf="showSpinner">
        <div class="spinner"></div>
    </div>
</div>