<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Delete Contact</p>
        </header>
        <form #contactdelfrom="ngForm">
            <section class="modal-card-body">
                <div class="field">
                    <label for="name">Confirm the deletion of contact {{ inName }}.</label>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button type="submit" class="button is-primary" (click)="confirmDel()">Confirm</button>
                <button type="button" class="button is-hovered" (click)="cancelDel()">Cancel</button>
            </footer>
        </form>
    </div>
</div>