<section class="has-background-primary py-1">
  <span class="is-size-3 has-text-white has-text-weight-semibold">&nbsp;Wallet - {{ walletname }}</span>
</section>
<div class="mt-1 mb-1 mr-1 ml-1">
  <div class="control has-icons-right">
    <input class="input is-static has-background-info  is-fullwidth has-text-white" type="text"
      value="{{walletaddress}}" readonly #copyInput>
    <span class="icon is-small is-right is-clickable is is-fullwidth" (click)="copyToClipboard(copyInput.value)">
      <fa-icon [icon]="faCopy"></fa-icon>
    </span>
  </div>
</div>
<div class="columns">
  <div class="column">
    <div class="tabs is-boxed">
      <ul>
        <li (click)="onTabClick(1)" [ngClass]="{ 'is-active' : showtab === 1 }">
          <a>
            <span>Send</span>
          </a>
        </li>
        <li (click)="onTabClick(2)" [ngClass]="{ 'is-active' : showtab === 2 }">
          <a>
            <span>Transactions</span>
          </a>
        </li>
        <li (click)="onTabClick(3)" [ngClass]="{ 'is-active' : showtab === 3 }">
          <a>
            <span>Staking</span>
          </a>
        </li>
        <li (click)="onTabClick(4)" [ngClass]="{ 'is-active' : showtab === 4 }">
          <a>
            <span>Private Keys</span>
          </a>
        </li>
        <li (click)="onTabClick(5)" [ngClass]="{ 'is-active' : showtab === 5 }">
          <a>
            <span>Change Password</span>
          </a>
        </li>
        <li (click)="onTabClick(6)" [ngClass]="{ 'is-active' : showtab === 6 }">
          <a>
            <span>Advanced</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="column is-flex is-align-items-center">
    <div>
      <div *ngIf="currencySymbol === 'BTC'">
        <span class="is-size-6 has-text-weight-semibold">
          &nbsp;&nbsp;Balance: <strong>{{ xcashbalance | xcash:'1.0-2' }} - ₿{{ (xcashbalance * toXCASH) | number: '1.1-5' }}</strong></span>
        <span class="icon is-small is-clickable" (click)="refreshBalance()">&nbsp;&nbsp;<fa-icon [icon]="faRefresh"></fa-icon></span>
      </div>
      <div *ngIf="currencySymbol !== 'BTC'">
        <span class="is-size-6 has-text-weight-semibold">
          &nbsp;&nbsp;Balance: <strong>{{ xcashbalance | xcash:'1.0-2' }} - {{ (xcashbalance * toXCASH) | currency: currencySymbol }}</strong></span>
        <span class="icon is-small is-clickable" (click)="refreshBalance()">&nbsp;&nbsp;<fa-icon [icon]="faRefresh"></fa-icon></span>
      </div>
    </div>
  </div>
</div>
<app-wallet-login [walletname]="walletname" [modalmessage]="modalmessage" *ngIf="showLoginModal"
  (onClose)="selectedLoginWallet($event)"></app-wallet-login>
<div [ngSwitch]="showtab">
  <ng-container *ngSwitchCase="1">
    <app-wallet-send [toXCASH]="toXCASH" [xcashbalance]='xcashbalance' [currencySymbol]="currencySymbol"> </app-wallet-send>
  </ng-container>
  <ng-container *ngSwitchCase="2">
    <app-wallet-trans></app-wallet-trans>
  </ng-container>
  <ng-container *ngSwitchCase="3">
    <p>Option not implemented.</p>
  </ng-container>
  <ng-container *ngSwitchCase="4">
    <p>Option not implemented.</p>
  </ng-container>
  <ng-container *ngSwitchCase="5">
    <p>Option not implemented.</p>
  </ng-container>
  <ng-container *ngSwitchCase="6">
    <p>Option not implemented.</p>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <div class="container is-fluid">
      <p><strong>Please select one of the tabs above.</strong></p>
    </div>
  </ng-container>
</div>
<div class="notification is-warning" *ngIf="message">
  <button class="delete" (click)="showMessage('');"></button>
  <p class="is-centered">{{ message }}</p>
</div>