<form #stakingForm="ngForm">
  <div *ngIf="displayMessage">
    <div class="container is-fluid">
      <p><strong>{{ initMessage }}</strong></p>
    </div>
  </div>
  <div id="delegates" [ngClass]="{ 'is-hidden' : displayMessage }">
    <div class="container is-fluid is-mobile mt-0 pt-0">
      <div class="notification is-warning mt-2 mx-1" *ngIf="message">
        <button class="delete" (click)="showMessage('');"></button>
        <p class="is-centered">{{ message }}</p>
      </div>
      <div class="columns pb-0 mb-0">
        <div class="column is-two-thirds pt-2">
          <div class="field">
            <input class="input is-hovered has-text-weight-bold" type="text" name="cdelegate"
              [(ngModel)]="currentDelegate" readonly>
          </div>
        </div>
        <div class="column pt-2">
          <div class="buttons is-right">
            <button type="submit" class="button is-primary mr-5" (click)="reVote()">
              <span class="icon"><fa-icon [icon]="faRefresh"></fa-icon></span>
              &nbsp;&nbsp;ReVote
            </button>
            <button type="submit" class="button is-primary" (click)="sweepTrans()">
              <span class="icon"><fa-icon [icon]="faBroom"></fa-icon></span>
              &nbsp;&nbsp;Sweep
            </button>
          </div>
        </div>
      </div>
      <div id="delegates" [ngClass]="{ 'is-hidden' : !hidedelegates }">
        <div class="field has-text-weight-bold">
          <label for="name">Delegate:</label>
          <div class="control has-icons-right">
            <input type="text" name="delegatename" class="input is-hovered" [(ngModel)]="delegateName"
              #delegatenameinput="ngModel" [pattern]="nameCk" placeholder="Enter the delegate name" required>
            <span class="icon is-small is-right is-clickable" (click)="onPaste($event, 'name')">
              <fa-icon [icon]="faPaste"></fa-icon>
            </span>
          </div>
          <div class="help" *ngIf="delegatenameinput.invalid && (delegatenameinput.touched || delegatenameinput.dirty)">
            Delegate name may only contain numbers, letters, underscores, hyphens, and periods.
          </div>
        </div>
        <div class="buttons">
          <button type="submit" class="button is-primary" [disabled]="stakingForm.invalid"
            (click)="castVote(delegateName)">Vote</button>
        </div>
      </div>
      <div id="delegates" [ngClass]="{ 'is-hidden' : hidedelegates }">
        <div class="container is-fluid has-text-weight-semibold mt-0 pt-0">
          <p>To Vote for A delegate Pick the Delegate Name from the table below:</p>
        </div>
        <div class="container is-fluid mt-1 pt-0">
          <form>
            <table #delegatestable id="delegatestable" class="table is-striped mx-auto is-hoverable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Delegate Name</th>
                  <th>Fee</th>
                  <th>Votes</th>
                  <th>Online</th>
                  <th>Verifier Rounds</th>
                  <th>Producer Rounds</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let displaydelegate of displayDelegates">
                  <td>{{ displaydelegate.id }}</td>
                  <td><a (click)="castVote(displaydelegate.name)">{{ displaydelegate.name }}</a></td>
                  <td>{{ displaydelegate.fee }}%</td>
                  <td>{{ displaydelegate.vote_count | voteFormat }}</td>
                  <td>{{ displaydelegate.online_percentage }}%</td>
                  <td>{{ displaydelegate.vtotal_rounds }}</td>
                  <td>{{ displaydelegate.total_rounds }}</td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</form>
<app-wallet-vote [delegateVote]="delegateVote" [xcashbalance]='xcashbalance' *ngIf="showVoteModal"
  (onClose)="exitVoteModal()"></app-wallet-vote>
<app-wallet-revote [delegateVote]="delegateVote" *ngIf="showRevoteModal"
  (onClose)="exitReVoteModal()"></app-wallet-revote>
<app-wallet-sweep [walletname]="walletname" [walletaddress]="walletaddress" *ngIf="showSweepModal"
  (onClose)="exitSweepModal()"></app-wallet-sweep>
<div class="spinner-container" *ngIf="showspinner || showspinnerdel">
  <div class="spinner"></div>
</div>