<section class="has-background-primary py-1">
    <div class="columns">
      <div class="column">
        <h1 class="title has-text-white">&nbsp;Contacts</h1>
      </div>
      <div class="column">
        <div class="buttons is-justify-content-flex-end mr-4">
          <button type="submit" class="button is-info" (click)="addContact()">Add</button>
          <button type="button" class="button is-info" (click)="deleteContact()">Delete</button>
        </div>
      </div>
    </div>
  </section>
<section class="section">
    <div calss="container">
        <form>
        <p>Option Not Implemented</p>
        </form>
    </div>
</section>