<div class="container is-fluid">
  <div container>
    <div *ngIf="showmain">
      <form #sendForm="ngForm">
        <div class="columns is-mobile is-gapless">
          <div class="column is-6 is-gapless">
            <div class="field is-horizontal">
              <label class="label is-flex is-align-items-center">From:&nbsp;</label>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input class="input is-hovered has-text-weight-bold" type="text" name="wname" [(ngModel)]="walletname" readonly>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column is-gapless is-6 ml-6">
            <div class="field is-horizontal">
              <label class="label is-flex is-align-items-center">Privacy:&nbsp;</label>
              <div class="buttons">
                <label class="button is-rounded is-success is-small required">
                  <input type="radio" name="privacy" value="private" [(ngModel)]="toPrivacy" checked>
                  Private
                </label>
                <label class="button is-rounded is-success is-small">
                  <input type="radio" name="privacy" value="public" [(ngModel)]="toPrivacy">
                  Public
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Recipient:</label>
          <div class="control has-icons-right">
            <input class="input is-hovered" type="text" placeholder="Enter recipient address" id="toAddress"
              name="toAddress" [(ngModel)]="toAddress" #toAddressInput="ngModel" required [pattern]="xcashaddressCk"
              autofocus>
            <span class="icon is-small is-right is-clickable is is-fullwidth" (click)="onPaste($event)">
              <fa-icon [icon]="faClipboard"></fa-icon>
            </span>
            <div *ngIf="toAddressInput.invalid && toAddressInput.touched">
              <div *ngIf="toAddressInput.errors?.required">This field is required.</div>
              <div *ngIf="toAddressInput.errors?.pattern">Enter a valid XCASH address.</div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Payment ID:</label>
          <div class="control">
            <input class="input is-hovered" type="text" placeholder="Enter optional payment id" id="toPaymentId"
              name="toPaymentId" [(ngModel)]="toPaymentId" #toPaymentIdInput="ngModel" [pattern]="paymentidCk">
            <div *ngIf="toPaymentIdInput.invalid && toPaymentIdInput.touched">
              <div *ngIf="toPaymentIdInput.errors?.pattern">A valid Payment Id must be either {{paymentidlen1}} or
                {{paymentidlen2}} characters in length.</div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label">Amount:&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="checkbox">
                  <input type="checkbox" [(ngModel)]="toMax" id="pickMax" name="pickMax" (change)="onCheckboxChange()">
                  Max Available
                </label>
              </label>
              <div class="control">
                <input class="input is-hovered is-6" type="number" placeholder="Enter Payment amount" id="toAmount"
                  name="toAmount" [(ngModel)]="toAmount" #toAmountInput="ngModel" required [pattern]="amountCk">
                <div *ngIf="toAmountInput.invalid && toAmountInput.touched">
                  <div *ngIf="toAmountInput.errors?.required">This field is required.</div>
                  <div *ngIf="toAmountInput.errors?.pattern">Enter a valid amount.</div>
                </div>
                <div *ngIf="toAmount > xcashbalance">Send amount is greater than balance.</div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label">Currency Value:</label>
              <div class="control">
                <div *ngIf="currencySymbol === 'BTC'">
                  <input class="input is-hovered has-text-weight-semibold" type="text" name="tovalue"
                    [ngModel]="'₿' + (toAmount * toXCASH) | number: '1.1-5' " readonly>
                </div>
                <div *ngIf="currencySymbol !== 'BTC'">
                  <input class="input is-hovered has-text-weight-semibold" type="text" name="tovalue"
                    [ngModel]="(toAmount * toXCASH) | currency: currencySymbol" readonly>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button type="submit" class="button is-primary" (click)="submitSend(sendForm.invalid)">Submit</button>
          <button type="button" class="button is-hovered" (click)="cancelStSend()">Cancel</button>
        </div>
      </form>
    </div>
    <div *ngIf="showconfirm">
      <form #confirmForm="ngForm">
        <div class="field">
          <label class="label">Amount Sent:</label>
          <div class="control">
            <input class="input is-hovered" type="text" name="sentamount" [(ngModel)]="toAmount" readonly>
          </div>
        </div>
        <div class="field">
          <label class="label">Recipient::</label>
          <div class="control">
            <input class="input is-hovered is-small" type="text" name="sentto" [(ngModel)]="toAddress" readonly>
          </div>
        </div>
        <div class="field">
          <label class="label">Privacy:</label>
          <div class="control">
            <input class="input is-hovered" type="text" name="sprivacy" [(ngModel)]="txPrivacy" readonly>
          </div>
        </div>
        <div class="field">
          <label class="label">Total:</label>
          <div class="control">
            <input class="input is-hovered" type="text" name="senttotal" [(ngModel)]="txAmount" readonly>
          </div>
        </div>
        <div class="buttons">
          <button class="button is-primary" (click)="confirmSend()">Confirm</button>
          <button class="button is-info" (click)="modifySend()">Modify</button>
          <button class="button is-hovered" (click)="cancelSend()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="spinner-container" *ngIf="showspinner">
  <div class="spinner"></div>
</div>
<div class="notification is-primary mt-1" *ngIf="infoMessage">
  <p class="has-text-centered">{{ infoMessage }}</p>
</div>
<div *ngIf="message">&nbsp;</div>
<div class="notification is-warning mt-1" *ngIf="message">
  <button class="delete" (click)="showMessage('');"></button>
  <p class="is-centered">{{ message }}</p>
</div>