<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Open Wallet {{ walletname }}</p>
    </header>
    <form #newwalletform="ngForm">
      <section class="modal-card-body">
        <div class="field">
          <label class="label">Password</label>
          <p class="control has-icons-left has-icons-right">
            <input id="password" [type]="showpassword ? 'text' : 'password'" name="walletpass" class="input is-hovered"
              [(ngModel)]="walletpass" #walletpassinput="ngModel" placeholder="Enter password" 
              autofocus [disabled]="fielddisabled" required>
            <span class="icon is-small is-left">
              <fa-icon [icon]="faKey"></fa-icon>
            </span>
            <span class="icon is-small is-right is-clickable" (click)="togglePasswordVis()">
              <fa-icon [icon]="faEye"></fa-icon>
            </span>
          <div *ngIf="walletpassinput.invalid && walletpassinput.touched">
            <div *ngIf="walletpassinput.errors?.required">Password is required.</div>
          </div>
          <div class="is-small">&nbsp;</div>
          <div class="container is-fluid">
            <div class="notification is-warning" *ngIf="modalmessage">
              <button class="delete" (click)="resetLogin()"></button>
              <p class="is-centered">{{ modalmessage }}</p>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button id="loginbutton" type="submit" class="button is-primary"
          (click)="selectLogin(walletpassinput.invalid)" [disabled]="fielddisabled">Login</button>
        <button type="button" class="button is-hovered" (click)="cancelLogin()" [disabled]="fielddisabled">Cancel</button>
      </footer>
    </form>
    <div class="spinner-container" *ngIf="showspinner">
      <div class="spinner"></div>
    </div>
  </div> 
</div>